html {
  font-family: "Segoe UI";
  color: #fefcff;
}
body {
  background-image: url("/a/g1.png");
  background-color: #413942;
  background-size: 120px;
  background-position: 30px 30px;
  margin: 0px;
  padding: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
}

span {
  height: 27.5px;
}

#footer {
  /* background-color: red; */
  display: flex;
  width: 99%;
  text-align: center;
  justify-content: center;
}
.fObj {
  /* background-color:green; */
  width: 50%;
}

.content {
  /* Website Content */
  margin: 0px;
  padding: 0px;
  position: absolute;
  width: 100%;
  height: 87.5%;
  /* background-color: magenta; */
}
.tBox {
  width: 300px;
  height: 60px;
}
.title {
  /* Title Block */
  font-family: "Tomorrow", sans-serif;
  font-size: 38px;
  margin: 15px;
  position: relative;
  top: 15px;
}
.titleUnity {
  font-family: "Tomorrow", sans-serif;
}
.sBar {
  /* Side Bar */
  width: 280px;
  height: 555px;
  position: fixed;

  background-image: url("/a/g2.png");
  background-color: #242025;
  box-shadow: 0px 0px 30px 15px #121012;
  background-size: 55px;
  background-position: 2px 2.5px;
}
.sTab {
  position: relative;
  left: 30px;
}
.greyedOut {
  color:gray !important;
  pointer-events: none;
}

#list {
  height: 495px;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 17.5px;
}

#sitePage {
  width: 60%;
  height: 100%;
  margin-left: 280px;
  /* background-color: red; */
}

#blog {
  width:100%;
}

.inner {
  margin-left: 15px;
}
.innerBlog {
  margin: 30px 50px 0px 50px;
  min-height: 250px;
  background-color: #211d21;
  box-shadow: 0px 0px 15px 5px #121012;
  display: box;
  margin-bottom: 50px;
  /* background-color:magenta; */
}

.innerBlogText {
  margin: 0 2% 0 2%;
}
.space {
  height:15px;
}

.blogText {
  display: block;
  margin: 0 0 5px 0;
  text-indent: 2.5%;
}
/* .distroContent {
  margin: 0 2% 0 2%;
  width:100%;
  height:100%;
} */

.distroSubEnd {
  height:150px;
}

.contentText {
  position:relative;
  margin: 15px 2% 0 2%;
  top:25px;

}

.bib {
  position: relative;
  bottom: 1ex;
  font-size: 80%;
}

.blogH {
  height: 1px;
}

.blogDate {
  text-align: center;
  width: 100%;
  height: 2vw;
  bottom: 10px;
}

.gIcon {
  width: 20px;
  vertical-align: text-top;
  filter: invert(1);
  margin-right:5px;
}
.aIcon {
  width: 20px;
  vertical-align: text-top;
  margin-right:5px;
}
.sIcon {
  position:relative;
  top:2px;
  left:-2px;
}

/* links */
a {
  text-decoration: none;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: white;
}
a:active {
  color: white;
}

.pageLink:hover {
  cursor: pointer; 
}